<div class="card">
    <div class="card-body">
        <form>
            <div class="mb-2">
                <label class="form-label">
                    Name
                </label>
    
                <input type="text" [formControl]="name"  class="form-control" placeholder="Enter a name">
            </div>
    
            <div class="mb-2">
                <label class="form-label">
                    Email
                </label>
    
                <input type="email" [formControl]="email" class="form-control" placeholder="Enter a email">
            </div>

            <button class="btn btn-primary">
                Sent                
            </button>
        </form>
    </div>
</div>

{{ name.value }}

<br>

{{ email.value}}