<br>
<div *ngIf="showCity" class="container">
    <p>Cities</p>
    <ul *ngFor="let city of cities">
        <li>{{ city }}</li>
    </ul>
</div>
<div class="container">
    <button class="btn btn-primary" (click)="show()" *ngIf="showCity"> Hide Cities</button>
    <button class="btn btn-primary" (click)="show()" *ngIf="!showCity"> Show Cities</button>
</div>
<br>
<div class="container">
    <h4>NgClass</h4>
    <br>
    <div [ngClass]="{'alert-primary': changeCss, 'alert-warning': !changeCss}" class="alert" role="alert">
        Bootstrap alert styles
    </div>
    <div>
        <button class="btn btn-primary" (click)="changCss()">Change CSS style</button>
    </div>
</div>
